@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Dots:wght@400..700&family=Pacifico&family=Snowburst+One&display=swap');

.pacifico-regular {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}
body{
    background-image: url("../img/bg-stars.gif");
}
h1{
    font-family: Pacifico, "Palatino Linotype", Georgia, serif;
    color: #bd0008;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    width: 100px;
}
#first{
    font-family: Pacifico, "Palatino Linotype", Georgia, serif;
    color: #000000;
}

#second{
    font-family: Pacifico, "Palatino Linotype", Georgia, serif;
    color:#f39809;
}

#third{
    font-family: Pacifico, "Palatino Linotype", Georgia, serif;
    color: #ffffff;
}

#infoYou{
    background-color: #d3d68c;
    border-radius: 15px;
    margin: 15px;
    padding: 20px;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 40px;
}
#pleaseSanta{
    background-color: #542f2c;
    color: white;
    border-radius: 15px;
    margin: 15px;
    padding: 20px;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 40px;
}
#question{
    background-color: #b20000;
    color:white;
    border-radius: 15px;
    margin: 15px;
    padding: 20px;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 40px;
}

input[type=text],input[type=email],input[type=number], select{
    margin: 5px;
    display: block;
    border-radius: 5px;
    border-color: #d3d68c;
}
input[type=text],input[type=email],input[type=number], select, textarea{
    width: 95%;
}

input[type=checkbox], input[type=radio]{
    display: flex;
    flex-direction: row;
}
.radio-inline{
    display: inline-flex;
    flex-direction: row;
    margin: 5px;

}
input[type=submit]{
    background-color: #84881a;
    color: #ffffff;
    display: flex;
    justify-content: flex-end;
}
select{
    color:#bd0008;
}

